<div class="menu-bar__container">
    <div class="menu-bar_logo">
        <img src="assets/img/logo-store.jpg" 
        alt="logo" 
        width="140px"
        height="32px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.youtube.com/">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/raissa-mayumi-ogusku-801526140/">LINKEDIN</a></li>
            <li><a href="https://github.com/raissamayumi">GITHUB</a></li>
        </ul>
    </div>
</div>